@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #18181b;
}

.hidden {
    display: none;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
    padding: 1rem;
}

#img img {
    width: 30rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 0.7rem;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#titulo {
    font-size: 2.2rem;
    position:relative;
}

#titulo::after {
    content: "";
    position: absolute;
    background-color: #6C63FF;
    border-radius: 0.3rem;
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;

}

.input-box label {
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    border-radius: 0.7rem;
    margin-top: 0.2rem;
    background-color: #3b3b46;
}

.input-field span, .input-field i {
    font-size: 1.3rem;
    color: #cbd5e1;
    padding: 0.5rem 1rem;
}
.input-field input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #f8fafc;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}
.input-field input::-webkit-outer-spin-button, .input-field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#calculate {
    width: 50%;
    margin: 0 auto;
    background-color: #6C63FF;
    color: #f8fafc;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
}
#calculate:hover {
    background-color: transparent;
    border: 2px solid #6C63FF;
}

#results {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid #fff3;
    padding: 0.7rem 0;
}

#imc {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.2rem;
}
#imc span:last-child {
    font-size: 0.9rem;
    color: #cbd5e1;
}

#description {
    width: 15rem;
}

#more-infos {
    border-top: 1px solid #fff3;
    padding-top: 1rem;
}
#more-infos a {
    color: #6C63FF;
    font-size: 0.9rem;
    text-decoration: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s;
}
#more-infos a:hover {
    text-decoration: underline;
    color: #cbd5e1;
}

@media screen and (max-width: 1024px) {
    img {
        display: none;
    }
    #container {
        gap: 0;
    }
}
@media screen and (max-width: 500px) {
    #img {
        display: none;
    }
    #titulo {
        font-size: 2rem;
    }
    #container {
        width: 100%;
        height: 100%;
        padding: 0;
    } 
    #calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }
}